

@import "../../vars.css";

.mypic{
    border-radius: 250px;
    height: 40%;
    width: 40%;
    z-index: 1;
    padding: 2rem;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.content h1 {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);

}

.content p {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.content a {
  text-decoration: none;
  background-color: hsl(216, 68%, 45%);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  background: linear-gradient(
    0deg,
    rgba(33, 75, 152, 0.634) 0%,
    rgba(19, 89, 218, 0.632) 100%
  );
}


@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.eff1 {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.eff2 {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }
  .mypic{ padding: 0;
    margin-bottom: 2rem;
  }
  .content {
    align-items: center;
    h1{
        font-size: 55px;
    }
    p{
        font-size: 27px;
    }
  }
}